<div class="">
    <mat-toolbar color="primary" class="navbar">
        <span class="navbar-brand" routerLink="/welcome" routerLinkActive="active">L&T</span>
        <span class="spacer"></span>
        <button class="auth-page" mat-button routerLink="/signup" routerLinkActive="active" style="color: white;">Register</button>
        <button class="auth-page" mat-button routerLink="/login" routerLinkActive="active" style="color: white;">login</button>
    </mat-toolbar>
</div>

<router-outlet></router-outlet>

